@font-face {
	font-family: 'Orexis';
	font-style: normal;
	font-weight: 200;
	src: url(../fonts/200.woff2) format('woff2'), url(../fonts/200.woff) format('woff');
}

@font-face {
	font-family: 'Orexis';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/400.woff2) format('woff2'), url(../fonts/400.woff) format('woff');
}

@font-face {
	font-family: 'Orexis';
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/700.woff2) format('woff2'), url(../fonts/700.woff) format('woff');
}

@font-face {
	font-family: 'Orexis';
	font-style: normal;
	font-weight: 900;
	src: url(../fonts/900.woff2) format('woff2'), url(../fonts/900.woff) format('woff');
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #fff;
	font-family: 'Orexis', Arial, sans-serif;
	font-size: 16px;
	font-weight: 200;
	color: #000;
	overflow-x: hidden;
	line-height: 1.4;
}

body.notransition * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

img {
	border: none;
}

a {
	outline: none;
}

*:focus {
	outline: 0;
}

::-moz-focus-inner {
	padding: 0;
	border: 0;
}

form, input, textarea, select, option {
	margin: 0;
	padding: 0;
	font-family: 'Orexis', Arial, sans-serif;
	font-size: 16px;
}

input[type='text'], input[type='email'], input[type='submit'], input[type='button'], textarea, select, .file_mask {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: none;
	padding: 0 20px;
	width: 100%;
	height: 60px;
	color: #000;
	font-weight: 700;
	box-shadow: 0 17px 50px rgba(169, 169, 169, 0.26);
}

input[type='file'] {
	opacity: 0;
	position: absolute;
	left: -1000px;
}

.file_mask {
	line-height: 40px;
	cursor: pointer;
	padding: 0 52px 0 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.file_mask::before {
	content: attr(data-text1);
}

.file_mask.act::before {
	content: attr(data-text2);
}

.file_mask div {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: none;
}

.file_mask.act div {
	display: block;
}

.file_mask div::before {
	content: '×';
	font-size: 36px;
	font-weight: 300;
	line-height: 0;
	position: absolute;
	top: 17px;
	left: 12px;
}

::-webkit-input-placeholder {
	color: #aeaeae;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 700;
}

::-moz-placeholder {
	color: #aeaeae;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 700;
}

::-ms-input-placeholder {
	color: #aeaeae;
	opacity: 1;
	text-transform: uppercase;
	font-weight: 700;
}

option {
	padding: 0 0 0 5px;
	background: #fff;
	color: #4d5160;
	font-size: 14px;
}

select {
	/*background: #fff url(../images/arrow7.png) no-repeat top 17px right 14px;*/
	padding: 0 54px 0 14px;
}

select::-ms-expand {
	display: none;
}

textarea {
	resize: none;
	padding: 6px 18px;
	height: 120px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin: 0 0 40px 0;
}

td, th {
	font-size: 15px;
	vertical-align: top;
	text-align: left;
	/*border: 1px solid #a8a8a8;*/
	/*padding: 8px 12px;*/
}

/*th {
	color: #fff;
	background: #756e6e;
	border-right-color: #a79e9e;
	border-top-color: #756e6e;
	border-bottom-color: #756e6e;
	padding: 8px 12px;
}

th:first-child {
	border-left-color: #756e6e;
}

th:last-child {
	border-right-color: #756e6e;
}

tr:nth-child(odd) {
	background: #e9e0e1;
}*/

caption {
	font: 400 30px/1.3 'Orexis', Arial, sans-serif;
	margin: 0 0 0.8em 0;
	text-align: left;
}

.calendar td, .calendar th {
	width: 220pt;
}

.table_wrap {
	overflow: auto;
	clear: both;
}

label {cursor: pointer;}

button, input[type='submit'], input[type='button'] {
	font: 700 16px/1.3 'Orexis', Arial, sans-serif;
	height: 80px;
	background: transparent;
	border: none;
	text-transform: uppercase;
	color: #000;
	padding: 0;
	cursor: pointer;
}

button.yellow_btn, input[type='submit'], input[type='button'] {
	background: #ff9c07;
	color: #fbfcff;
	padding: 0 30px;
}

ul, ol {
	margin: 0 0 1.4em 0;
	padding: 0 0 0 0.7em;
	width: auto;
	overflow: hidden;
}

ol {counter-reset: numbered;}

li {margin: 0 0 0.3em 0;}

ul > li {
	list-style-type: none;
	background: url(../fonts/bull1.svg) no-repeat 0 0.6em / 9px;
	padding: 0 0 0 25px;
}

ol > li {
	list-style-type: none;
	counter-increment: numbered;
	padding: 0 0 0 27px;
	position: relative;
}

ol > li:before {
	content: counter(numbered)'.';
	color: #00a5b2;
	font-weight: 700;
	position: absolute;
	left: 0;
	text-align: center;
	width: 22px;
}

p + ul, p + ol {margin-top: -1em;}

a:link, a:visited {color: #00a5b2; text-decoration: none;}
a:hover, a:active {color: #00a5b2; text-decoration: underline;}

p {
	margin: 0 0 1.8em 0;
	line-height: inherit;
}

p b {
	font-weight: 700;
}

sup {
	height: 0;
	line-height: 0;
	vertical-align: baseline;
	position: relative;
	bottom: -3px;
	font-size: 17px;
	font-weight: bold;
	margin: 0 2px;
	color: #5990a5;
}

h1 {
	font: 400 28px/1.2 'Orexis', Arial, sans-serif;
	margin: 0 0 30px 0;
}

h2 {
	font: 700 20px/1.2 'Orexis', Arial, sans-serif;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

h3 {
	font: 400 20px/1.2 'Orexis', Arial, sans-serif;
	margin: 0 0 12px 0;
	color: #4d5160;
}

h4, h5, h6 {
	font: 400 15px/1.2 'Orexis', Arial, sans-serif;
	margin: 0 0 8px 0;
}

/*p + h2 {padding: 30px 0 0 0;}*/

/*p + h3, p + h4, ul + h3, ul + h4, .table_wrap + h3, .table_wrap + h4 {padding: 20px 0 0 0;}*/

/*p + h5 {padding: 10px 0 0 0;}*/

div img, li img, iframe {vertical-align: top;}

/* ========================================================= */

.justified {
	text-align: justify;
	line-height: 0;
	font-size: 0.1px; /*trick the trickster*/
	margin: 0;
	padding: 0;
	overflow: visible;
}

.justified:after {
	width: 100%;
	height: 0;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.justified > li {
	display: inline-block;
	text-align: left;
	line-height: normal;
	font-size: 16px;
	vertical-align: top;
	position: relative;
	margin: 0;
	padding: 0;
	background: none;
}

.inlined {
	margin: 0;
	padding: 0;
	font-size: 0;
	overflow: visible;
}

.inlined > li {
	display: inline-block;
	list-style-type: none;
	vertical-align: top;
	letter-spacing: 0;
	font-size: 16px;
	padding: 0;
	margin: 0;
	line-height: normal;
	background: none;
	position: relative;
}

.inlined > li img {vertical-align: bottom}

.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

li.dummy {
	padding: 0 !important;
	margin: 0 !important;
	background: transparent !important;
	min-height: inherit !important;
	border: none !important;
}

li.dummy::before {
	display: none;
}

.table_wrap {
	overflow: auto;
	clear: both;
	margin: 0 0 40px 0;
}

.table_wrap table {
	margin: 0;
}

.elem_center {
	margin: 0 0 30px 0;
	text-align: center;
}

.elem_center img {
	max-width: 100%;
}

.elem_right {
	float: right;
	clear: right;
	margin: 7px 0 10px 30px;
}

.elem_left {
	float: left;
	clear: left;
	margin: 7px 30px 10px 0;
}

.elem_right img, .elem_left img {
	max-width: 100%;
	margin: 0 0 8px 0;
}

.elem_right, .elem_left {
	max-width: 35%;
	font-size: 14px;
}

.elem_video {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 51%;
}

.elem_video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#gotop {
	position: fixed;
	bottom: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	background: #00a5b2;
	cursor: pointer;
	border: solid rgba(255, 255, 255, 0.5);
	border-width: 1px 0 0 1px;
	z-index: 8;
	transition: bottom 350ms;
}

#gotop.act {
	bottom: 0;
}

#gotop::before {
	content: '';
	width: 15px;
	height: 15px;
	border-top: #fff 3px solid;
	border-right: #fff 3px solid;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: 20px;
	left: 15px;
}

a.phone {
	text-decoration: none;
	pointer-events: none;
}

body.mobile a.phone {
	pointer-events: auto;
}

#header a.phone {
	color: #fff;
}

#footer a.phone {
	color: #808285;
}

/*=========================================================== */

.block {
	max-width: 1440px;
	margin: 0 auto 100px auto;
	padding: 0 146px;
	position: relative;
}

#header {
	background: #00a5b2;
	color: #fff;
	position: relative;
}

#header .block {
	min-height: 750px;
	margin: 0 auto;
}

#logo {
	position: absolute;
	top: 28px;
	left: 56px;
	width: 180px;
}

#top_phone {
	font-weight: 700;
	font-size: 16px;
	position: absolute;
	top: 46px;
	right: 40px;
}

#menu {
	position: absolute;
	top: 49px;
	left: 365px;
	right: 290px;
}

#menu li {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin: 0 10px;
}

#menu a {
	color: #fff;
}

#menu_btn {
	background: #fff;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute;
	right: 30px;
	top: 15px;
	z-index: 8;
	display: none;
}

#menu_btn span {
	display: block;
	background: #00a5b2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms;
	width: 25px;
	height: 3px;
}

body.menu #menu_btn span {
	transition-delay: .12s;
	transition-timing-function: cubic-bezier(.215,.61,.355,1);
	transform: translate(-50%, -50%) rotate(45deg);
}

#menu_btn span::before, #menu_btn span::after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	background: #00a5b2;
}

#menu_btn span::before {
	top: -7px;
	transition: top 75ms ease .12s, opacity 75ms ease;
}

body.menu #menu_btn span::before {
	top: 0;
	transition: top 75ms ease,opacity 75ms ease .12s;
	opacity: 0;
}

#menu_btn span::after {
	bottom: -7px;
	transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55,.055,.675,.19);
}

body.menu #menu_btn span::after {
	bottom: 0;
	transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
	transform: rotate(-90deg);
}

#header .social {
	position: absolute;
	top: 50%;
	right: 40px;
	width: 25px;
	transform: translate(0, -50%);
}

#header .social li {
	margin: 0 0 30px 0;
}

#header .social li:last-child {
	margin: 0;
}

.social a {
	opacity: 0.48;
	display: block;
	width: 25px;
	height: 25px;
	background: no-repeat 50% 50%;
	transition: opacity 150ms;
}

.social a:hover {
	opacity: 1;
}

.social a.social_fb {
	background-image: url(../fonts/icon_social_fb.svg);
}

.social a.social_vk {
	background-image: url(../fonts/icon_social_vk.svg);
}

.social a.social_ig {
	background-image: url(../fonts/icon_social_ig.svg);
}

.social a.social_yt {
	background-image: url(../fonts/icon_social_yt.svg);
}

#header .yellow_btn {
	width: 240px;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow: 0 17px 50px rgba(33, 118, 124, 0.26);
	z-index: 2;
}

#header_scene {
	overflow: hidden;
}

#header_scene, #header_scene > div {
	position: absolute;
	width: 100%;
	height: 100%;
}

#header_scene > div > * {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

#header_scene_glow {
	top: 150px;
	left: 0;
	right: 0;
	width: 90%;
	height: 460px;
	background: radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.39), rgba(255, 255, 255, 0));
	transform: rotate(45deg) translate(-50%, -50%) !important;
	transform-origin: left center;
}

.header_scene_text {
	font-weight: 900;
	font-size: 127px;
	line-height: 120%;
	letter-spacing: -0.007em;
	text-transform: uppercase;
	text-shadow: -30px 24px 30px rgba(0, 0, 0, 0.15);
}

#header_scene_text1 {
	bottom: 443px;
	text-shadow: none;
}

#header_scene_text2 {
	bottom: 274px;
}

#header_scene_text3 {
	bottom: 105px;
}

#header_scene_img {
	bottom: 0;
	height: 90%;
}

.block_header {
	font-weight: 700;
	font-size: 40px;
	line-height: 120%;
	margin: 0 0 24px 0;
	text-transform: uppercase;
	-webkit-text-stroke: 2px #000;
	position: relative;
	display: inline-block;
}

.block_header span {
	color: #00a5b2;
	-webkit-text-stroke: 2px #00a5b2;
	white-space: nowrap;
}

.cols {
	padding: 100px 0;
}

.cols > li {
	line-height: 1.7;
}

.cols > li:nth-child(1) {
	width: 42%;
}

.main_type3 .cols > li:nth-child(1) {
	width: 58%;
}

.cols > li:nth-child(2) {
	width: 35%;
}

/*------------*/

.main_type1 .cols {
	background: url(../images/img_back1.jpg) no-repeat 30% 50% / 45%;
	padding: 180px 0 220px 0;
}

.main_type1 .cols > li:nth-child(2) {
	min-width: 400px;
	height: 400px;
}

.main_type1 .block_header::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 107%;
	width: 48px;
	height: 8px;
	background: #b3e4e8;
	transform: translate(0, -50%);
}

.main_programs_list {
	padding: 35px 100px 35px 40px;
	background: #fff;
	box-shadow: 0 4px 130px rgba(0, 0, 0, 0.07);
	position: relative;
}

.main_programs_list a {
	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	color: #000;
	margin-bottom: 12px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

/*.main_programs_list a::before {
	content: '';
	position: absolute;
	top: 100%;
	left: -5px;
	width: 0;
	height: 4px;
	background: #00a5b2;
	opacity: 30%;
	transform: translate(0, -50%);
	transition: width 150ms;
}*/

.main_programs_list a:hover {
	-webkit-text-decoration: underline solid #b3e4e8;
	-webkit-text-decoration-skip: ink;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: #b3e4e8;
	text-decoration-skip-ink: none;
	text-decoration-thickness: 4px;
}

.main_programs_list button {
	position: absolute;
	bottom: 18px;
	right: -40px;
	padding: 0 24px 0 0;
	background: url(../fonts/arrow1.svg) no-repeat 100% 50%;
}


.side_scene, .side_scene > div {
	position: absolute;
	width: 100%;
	height: 100%;
}

.side_scene img {
	position: absolute;
}

.side_scene img:not(.noshadow) {
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
}

/*------------*/

.main_type2 .cols {
	background: #e9eaef;
	margin-left: -40px;
	padding: 60px 40px 30px 40px;
}

.main_type2 .cols > li:nth-child(1) {
	min-height: 270px;
}

.main_type2 .cols > li:nth-child(2) {
	width: 58%;
	height: 150px;
}

.main_type2 .cols > li:nth-child(3) {
	margin: 0 0 30px 0;
}

#img_large1 {
	position: absolute;
	right: -120px;
	top: -150px;
	width: 100%;
	opacity: 0;
	transform: translate(20%, 0);
	transition: opacity 800ms, transform 800ms;
}

#img_large1.act {
	opacity: 1;
	transform: translate(0);
}

.form li {
	width: 100%;
	margin: 0 0 20px 0;
}

.form li:last-child {
	margin-bottom: 0;
}

.form li:first-child, input[name='company'] {
	position: absolute;
	left: -5000px;
}

.form button {
	width: 100%;
}

.main_type2 .form li {
	vertical-align: middle;
	margin: 0 30px 30px 0;
	width: 304px;
}

.error {
	background-color: #ffd8dd !important;
	color: #c63b51 !important;
	border-color: #f9b7c1 !important;
}

.error::-webkit-input-placeholder {
	color: #c63b51 !important;
	opacity: 1;
}
.error::-moz-placeholder {
	color: #c63b51 !important;
	opacity: 1;
}
.error:-ms-input-placeholder {
	color: #c63b51 !important;
	opacity: 1;
}

.popup_form {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.85);
	z-index: -1;
	opacity: 0;
	transition: z-index 350ms step-end, opacity 350ms;
}

body.show_form #form_fields, body.show_result #form_result {
	opacity: 1;
	z-index: 10;
	transition: z-index 350ms step-start, opacity 350ms;
}

.popup_form .form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px 40px;
	border-radius: 2px;
	width: 100%;
	max-width: 580px;
	background: #00a5b2;
	box-shadow: 0 17px 50px rgba(33, 118, 124, 0.26);
	color: #fff;
}

.popup_form a {
	color: #fff;
	text-decoration: underline;
}

.popup_form h2 {
	margin: 0 0 30px 0;
}

.popup_form_close {
	position: absolute;
	top: 12px;
	right: 14px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.popup_form_close::before {
	content: '⨉';
	font-size: 32px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-weight: 700;
}

#form_result .form {
	text-align: center;
	padding-top: 40px;
}

#form_result span {
	display: block;
	/*margin: 0 0 30px;*/
	font-weight: 700;
	font-size: 22px;
}

#form_result input {
	display: inline-block;
	max-width: 200px;
}

body.form_success #form_result span::before {content: attr(data-text1)}

body.form_error #form_result span::before {content: attr(data-text2)}


/*------------*/

.main_type3 .cols {
	padding: 60px 0;
}

.main_type3 .cols > li {
	font-size: 18px;
}

.main_type3 .cols > li:nth-child(2) {
	height: 450px;
}

.toggle_container {
	height: 420px;
	padding: 0 0 80px 0;
	overflow: hidden;
	position: relative;
}

.toggle_container::before {
	content: '';
	height: 320px;
	background: linear-gradient(to top, rgba(255, 255, 255, 1) 80px, rgba(255, 255, 255, 0) 100%);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	pointer-events: none;
	z-index: 2;
	transition: opacity 150ms;
}

.main_type2 .toggle_container::before {
	background: linear-gradient(to top, rgba(233, 234, 239, 1) 80px, rgba(233, 234, 239, 0) 100%);
}

.toggle_container.act {
	overflow: visible;
}

.toggle_container.act::before {
	opacity: 0;
	transition: opacity 150ms 150ms;
}

button.toggle_btn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0 24px;
	z-index: 5;
}

button.toggle_btn::before {
	content: attr(data-header1);
}

.act button.toggle_btn::before {
	content: attr(data-header2);
}

button.toggle_btn::after {
	content: '';
	width: 16px;
	height: 16px;
	background: url(../fonts/arrow1.svg) no-repeat 0 0 / cover;
	position: absolute;
	top: 50%;
	right: 0;
	transform: rotate(90deg) translate(-50%, -20%);
}

.act button.toggle_btn::after {
	transform: rotate(-90deg) translate(50%, 0);
}

.article {
	padding-bottom: 1px;
}

.article img {
	width: 100%;
	border: 10px solid #fff;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.15);
	display: block;
	margin: 2.5em auto 2em;
}

p.highlight {
	border-left: 8px solid #b3e4e8;
	padding-left: 20px;
	font-weight: 400;
	font-size: 20px;
}

.two_img li {
	width: 47%;
	margin: 0 0 3em;
}

.two_img img {
	margin: 0;
}

/*=========================================================== */

#prices {
	margin: 0 -40px;
	width: 58%;
}

#prices table {
	border-collapse: unset;
}

#prices td {
	font-weight: 700;
	vertical-align: middle;
	border-bottom: 2px solid #b3e4e8;
	line-height: 20px;
}

#prices tr:last-child td {
	border: none;
}

#prices td:nth-child(odd) {
	font-size: 21px;
	width: 100%;
	padding: 20px 30px 20px 40px;
}

#prices td:nth-child(even) {
	color: #00a5b2;
	font-size: 25px;
	white-space: nowrap;
	padding: 20px 40px 20px 0;
	text-align: right;
}

#prices td:nth-child(odd) span {
	font-size: 13px;
	color: #aeaeae;
	text-transform: uppercase;
}

/*=========================================================== */

#programs {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 -40px;
}

.program {
	background: #00a5b2;
	color: #fff;
	text-transform: uppercase;
	padding: 40px 20% 40px 40px;
	position: relative;
	width: 48%;
	font-weight: 700;
	margin: 0 0 4% 0;
}

.act .program:last-child {
	transform: translate(40%, 0);
	transition: transform 650ms 450ms ease-out;
}

.program span {
	font-weight: 400;
	font-size: 42px;
	display: block;
	margin: 0 0 20px 0;
	position: relative;
	z-index: 2;
	line-height: 0.9;
}

.program p {
	margin: 0;
	position: relative;
	z-index: 2;
	line-height: 1.3;
	/*text-shadow: 0 0 8px #00a5b2;*/
}

.program::before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 35%;
	left: 10%;
	transform: translate(-50%, -50%);
	background: radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

.program img {
	position: absolute;
	right: 5%;
	height: 105%;
	opacity: 0;
	transition: opacity 500ms;
}

.act .program img {
	opacity: 1;
}

/*=========================================================== */

#contact .cols {
	padding: 0;
}

#contact .cols > li:nth-child(2) {
  width: 58%;
  height: auto;
}

#ymap_container {
	position: relative;
	padding-top: 75%;
}

#ymap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#ymap [class*="ymaps-2"][class*="-ground-pane"] {
	-webkit-filter: grayscale(100%) brightness(95%);
	filter: grayscale(100%) brightness(95%);
}

#addr {
	/*background: #e9eaef;*/
	padding: 0 40px 0 0;
	/*margin: 0 -80px 0 0;*/
	/*position: relative;*/
	/*z-index: 2;*/
	font-weight: 700;
	font-size: 18px;
}

#addr b {
	font-weight: 700;
	color: #00a5b2;
}

#addr span {
	display: block;
	/*background: #fff;*/
	/*box-shadow: 0 17px 50px rgba(169, 169, 169, 0.26);*/
	font-size: 16px;
	font-weight: 200;
	/*margin: 0 -150px 0 -80px;*/
	/*padding: 20px 20px 20px 40px;*/
}

/*=========================================================== */

#main_quiz {
	background: #00a5b2;
	position: relative;
	overflow: hidden;
	padding: 70px 0 100px;
}

#main_quiz::before {
	content: '';
	width: 120%;
	height: 20%;
	position: absolute;
	top: 1%;
	left: 50%;
	transform: translate(-50%, 0);
	background: radial-gradient(ellipse closest-side, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
}

#main_quiz .block {
	margin-bottom: 0;
}

#main_quiz .block_header {
	color: #fff;
	-webkit-text-stroke: 2px #fff;
	letter-spacing: -1px;
}

#quiz_container {
	min-height: 637px;
	box-shadow: 0 4px 60px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	background: #fff;
	position: relative;
}

#quiz_container.act::before {
	content: '';
	border-radius: 50%;
	width: 3.75em;
	height: 3.75em;
	font-size: 10px;
	text-indent: -9999em;
	border: 8px solid rgba(255, 156, 7, 0.3);
	border-left-color: #ff9c07;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: loader 1.1s infinite linear;
	animation: loader 1.1s infinite linear;
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 20;
	margin: 0 0 0 -38px;
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#quiz {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 40px 35px 80px;
}

#quiz > div {
	border-radius: 2px;
	position: relative;
	transition: transform 350ms;
	min-height: 70%;
}

#quiz > div:not(#quiz_total) {
	width: 17.8%;
}

.act #quiz > div {
	transform: scaleX(0);
}

#quiz > div.quiz_question {
	background: #eff4f4;
	padding: 30px 20px 160px 20px;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -0.02em;
}

#quiz > div.quiz_result {
	padding: 200px 20px 40px 20px;
	font-weight: 400;
	font-size: 15px;
	display: none;
}

#quiz > div.quiz_result.quiz_result1 {
	background: #d8ffd7 url(../fonts/icon_quiz1.svg) no-repeat 50% 30px;
}

#quiz > div.quiz_result.quiz_result2 {
	background: #e8f1f1 url(../fonts/icon_quiz2.svg) no-repeat 50% 30px;
}

#quiz > div.quiz_result.quiz_result3 {
	background: #ffe4db url(../fonts/icon_quiz3.svg) no-repeat 50% 30px;
}

#quiz > div#quiz_total {
	display: none;
	flex: 1 0 100%;
	font-weight: 400;
	font-size: 18px;
	padding: 40px 0 0 0;
}

#quiz > div#quiz_total::before {
	content: attr(data-header);
	display: block;
	text-align: center;
	margin-bottom: 8px;
	font-weight: 700;
	font-size: 20px;
}

.res #quiz > div.quiz_result, .res #quiz > #quiz_total {
	display: block;
}

.res #quiz > div.quiz_question {
	display: none;
}

.quiz_result_value {
	position: absolute;
	top: 110px;
	left: 0;
	right: 0;
	text-align: center;
	font-weight: 700;
	font-size: 42px;
	line-height: 1;
}

.quiz_result_value::after {
	content: attr(data-units);
	font-size: 16px;
	display: block;
	padding-top: 6px;
}

.quiz_result1 .quiz_result_value {
	color: #65c763;
}
.quiz_result2 .quiz_result_value {
	color: #90a7a9;
}
.quiz_result3 .quiz_result_value {
	color: #f27e59;
}

.quiz_input {
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	padding: 0 30px;
}

.quiz_input input {
	display: block;
	margin: 0 0 35px 0;
	padding: 0;
	border: 2px solid #bde5e8;
	height: 45px;
	font-size: 24px;
	color: #666;
	text-align: center !important;
	box-shadow: none;
}

#quiz_container .yellow_btn {
	width: 240px;
	position: absolute;
	bottom: -40px;
	left: 50%;
	transform: translate(-50%, 0);
	box-shadow: 0 17px 50px rgba(33, 118, 124, 0.26);
}

#quiz_container button.popup_toggle, #quiz_container.act button {
	display: none;
}

#quiz_container.res button.popup_toggle {
	display: block;
}

#quiz ::-webkit-input-placeholder {
	color: #d6d6d6;
	opacity: 1;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
}

#quiz ::-moz-placeholder {
	color: #d6d6d6;
	opacity: 1;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
}

#quiz :-ms-input-placeholder {
	color: #d6d6d6;
	opacity: 1;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
}

/*=========================================================== */

#footer, #copyright {
	background: #000;
	color: #808285;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 60px 0;
}

#footer .block, #copyright .block {
	margin-bottom: 0;
}

#footer > .block > ul > li:first-child {
	width: 167px;
}

#footer > .block > ul > li:last-child {
	width: calc(100% - 300px);
}

#copyright {
	padding: 20px 0;
	border-top: 2px solid #242424;
}

#footer a, #copyright a {
	color: #808285;
}

#btm_logo {
	width: 167px;
	opacity: 0.48;
	margin: 0 0 15px 0;
}

#footer p {
	margin: 0 0 18px 0;
}

#footer .social {
	width: 100%;
}

#footer .social a.social_fb {
	width: 12px;
	background-image: url(../fonts/icon_social_fb.svg);
}

#btm_link li {
	font-size: 12px;
	margin: 0 12px 8px 0;
}

/*[][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][][]*/


@media (max-width: 1300px) { /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 1300*/
	#quiz > div:not(#quiz_total) {
		width: 30%;
		margin-bottom: 5%;
	}

	#quiz > div.quiz_question {
		font-size: 16px;
	}

	#quiz > div#quiz_total {
		padding: 0;
	}

}


@media (max-width: 1200px) { /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 1200*/
	.block {
		/*margin: 0 auto 100px auto;*/
		padding: 0 90px;
	}

	#prices {
		margin: 0 -20px;
	}

	#prices td:nth-child(odd) {
		padding: 20px 30px 20px 20px;
	}

	#prices td:nth-child(even) {
		padding: 20px 20px 20px 0;
	}

}


@media (max-width: 1000px) { /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 1000*/
	.block {
		padding: 0 60px;
	}

	#header .block {
		height: 87vw;
		min-height: 455px;
	}

	.header_scene_text {
		font-size: 12vw;
	}

	#header_scene_text1 {
		bottom: 51vw;
	}

	#header_scene_text2 {
		bottom: 28vw;
	}

	#header_scene_text3 {
		bottom: 8vw;
	}

	.main_type1 .cols {
		background: url(../images/img_back1.jpg) no-repeat 100% 38% / 70%;
		padding: 100px 0;
		overflow: hidden;
	}

	.main_type1 .cols > li:nth-child(1) {
		width: 100%;
	}

	.main_type1 .cols > li:nth-child(2) {
		margin: 170px 0 0 60px;
	}

	.main_programs_list {
		max-width: 450px;
	}

	.main_type2 .cols {
		margin: 0 -30px;
		padding: 60px 30px 30px 30px;
	}

	.main_type2 .cols > li:nth-child(1) {
		padding: 0 40px 0 0;
	}

	#img_large1 {
		right: 0;
		top: -60px;
		width: 100%;
		opacity: 1;
		transform: translate(0);
		transition: none;
	}

	.main_type2 .form li {
		margin: 0 0 30px 0;
		width: 100%;
	}

	.main_type3 .cols {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding: 60px 0 0 0;
	}

	.main_type3 .cols > li:nth-child(1) {
		width: 100%;
		order: 2;
	}

	.main_type3 .cols > li:nth-child(2) {
		width: 400px;
		order: 1;
		margin-bottom: 120px;
		transform: scale(0.8);
	}

	#main_quiz {
		padding: 40px 0 70px;
	}

	#menu {
		position: fixed;
		top: 0;
		right: 0;
		left: auto;
		width: 100%;
		height: 100%;
		background: #00a5b2;
		text-align: center;
		padding: 115px 30px 30px;
		z-index: 6;
		/*box-shadow: 0 8px 24px rgba(33, 118, 124, 0.75);*/
		/*transform: translate(0, -120%);
		transition: trabsform 350ms;*/
		display: none;
	}

	body.menu #menu {
		display: block;
	}

	#menu li {
		width: 100%;
		font-size: 16px;
		margin: 0 0 12px 0;
	}

	#top_phone {
		right: 120px;
	}

	body.menu #top_phone {
		position: fixed;
		top: 26px;
		right: auto;
		left: 30px;
		font-size: 19px;
		z-index: 10;
		display: block;
	}

	#menu_btn {
		display: block;
	}

	body.menu #menu_btn {
		position: fixed;
	}

	body.menu #header .social {
		position: fixed;
		top: 67px;
		left: 30px;
		right: auto;
		width: 167px;
		transform: translate(0);
		z-index: 8;
		display: block;
	}
}


@media (max-width: 780px) { /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 780*/
	.block {
		margin: 0 auto 60px auto;
	}

	#header .social {
		display: none;
	}

	body.menu #header .social {
		display: block;
	}

	.main_type2 .cols > li:nth-child(1) {
		width: 100%;
		padding: 0;
		min-height: inherit;
	}

	.main_type2 .cols > li:nth-child(2) {
		width: 100%;
		height: auto;
		padding: 0 0 40px 0;
		text-align: center;
	}

	#img_large1 {
		right: auto;
		top: auto;
		width: 100%;
		position: relative;
	}

	.main_type2 .form {
		text-align: center;
	}

	#prices {
		width: calc(100% + 40px);
	}

	#quiz {
		padding: 40px 35px 60px;
	}

	#quiz > div:not(#quiz_total) {
		width: 47%;
	}

	#contact .cols > li {
		width: 100% !important;
	}

	#contact .cols > li:first-child {
		margin-bottom: 30px;
	}

	#programs {
		margin: 0;
	}

	.program {
		width: 100%;
		margin: 0 0 20px 0;
	}

	.act .program:last-child {
		transform: translate(0);
		transition: none;
	}

	.program span {
		width: 30%;
		text-shadow: 0 0 8px #00a5b2;
	}

	.program p {
		text-shadow: 0 0 8px #00a5b2;
	}

}

@media (max-width: 550px) { /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 550*/
	.block {
		/*margin: 0 auto 100px auto;*/
		padding: 0 30px;
	}

	#logo {
		width: 145px;
		left: 30px;
		top: 20px;
	}

	#top_phone {
		display: none;
	}

	.block_header {
		font-size: 32px;
	}

	.main_type1 .cols > li:nth-child(2) {
		margin: 80px 0 0 20px;
		transform: scale(0.7);
	}

	.main_programs_list {
		padding: 35px 40px;
	}

	.main_programs_list button {
		bottom: -16px;
		right: 16px;
	}

	#prices {
		margin: 0 -10px;
		width: calc(100% + 20px);
	}

	#prices td:nth-child(odd) {
		padding: 20px 30px 20px 10px;
	}

	#prices td:nth-child(even) {
		padding: 20px 10px 20px 0;
	}

	#quiz {
		padding: 20px 20px 60px;
	}

	#quiz > div:not(#quiz_total) {
		width: 100%;
		margin-bottom: 20px;
	}

	#quiz > div#quiz_total {
		font-size: 16px;
	}

	#quiz_container .yellow_btn {
		width: 180px;
	}

	#footer {
		padding: 30px 50px;
	}

	#footer > .block > ul {
		text-align: center;
	}

	#footer > .block > ul > li:first-child {
		margin-bottom: 20px;
	}

	#footer > .block > ul > li:last-child {
		width: 100%;
	}

	#btm_link {
		text-align: center;
	}

	#copyright {
		padding-right: 50px;
	}

	.program img {
		opacity: 1;
		transition: none;
	}

}

@media (max-width: 420px) {  /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 420*/
	#header_scene_img {
		height: 86%;
	}

	.header_scene_text {
		font-size: 46px;
	}

	#header_scene_text1 {
		bottom: 290px;
	}

	#header_scene_text2 {
		bottom: 185px;
	}

	#header_scene_text3 {
		bottom: 80px;
	}

	.main_type1 .cols {
		padding-bottom: 0;
	}

	.main_type1 .cols > li:nth-child(2) {
		margin: 40px 0 0 -50px;
		transform: scale(0.6);
	}
}

@media (max-width: 380px) {  /*[][][][][][][][][][][][][][][][][][][][][][][][][][][][] 380*/
	.header_scene_text {
		font-size: 42px;
	}
}
